body {
  font: 12px;
  background-color: #b0a08f;
  margin: 0;
}
#navbar {
  height: 34px;
  background-color: #3d5963;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  vertical-align: center;
  -webkit-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
  -moz-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
}
#notebook {
  width: 760px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
  -moz-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
}
#spawner {
  clear: both;
}
#cells {
  list-style-type: none;
  padding: 0;
}
.cell {
  padding: 0;
}
.ace-container,
.cell-output {
  margin-left: 20px;
  margin-right: 20px;
}
.ace-container {
  position: relative;
  height: 100px;
  padding: 5px;
  -webkit-box-shadow: rgba(0,0,0,0.50) 0 0 6px;
}
.cell-output {
  margin-top: 10px;
}
.cell-output:focus {
  background-color: #e8f2fe;
}
.type {
  position: absolute;
  -webkit-transform-origin: top left;
  -webkit-transform: rotate(90deg);
  -moz-transform-origin: top left;
  -moz-transform: rotate(90deg);
  background-color: #8fa7b0;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
  -webkit-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
  -moz-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
  z-index: -10;
}
.spawn-above,
#spawner {
  align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: #eee;
  font-family: "Gill Sans", "Gill Sans MT", Helvetica;
}
