body {
  font: 12px;
  background-color: #b0a08f;
  margin: 0;
}
#notebook {
  width: 760px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
  -moz-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
}
#spawner {
  clear: both;
}
.ace-container {
  position: relative;
  height: 100px;
}
#navbar {
  height: 34px;
  background-color: #3d5963;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  vertical-align: center;
  -webkit-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
  -moz-box-shadow: rgba(0,0,0,0.50) 0 0 8px;
}
