body
    background-color: #B0A08F
    margin: 0

#navbar
    height: 34px
    background-color: #3D5963 
    position: fixed
    z-index: 99
    top: 0
    left: 0
    width: 100%
    text-align: left
    vertical-align: center
    -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0 0 8px
    -moz-box-shadow: rgba(0, 0, 0, 0.496094) 0 0 8px

#logo
    margin-right: 10px
    margin-top: 5px
    font-size: 26px
    color: white
    float: right
    font-family: "Courier New", "monospace"
    font-weight: bold

#notebook
    width: 760px
    padding-top: 40px
    margin-left: auto
    margin-right: auto    
    background-color: #FFFFFF
    -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0 0 8px
    -moz-box-shadow: rgba(0, 0, 0, 0.496094) 0 0 8px


// The spawner allows the user to insert a cell.
// There is one at the top and after each cell.
#spawner
    // clear the floats sizes the notebook div correctly
    clear: both

#cells 
    list-style-type: none
    padding: 0     

.controls 
    margin-top: 10px
    margin-bottom: 10px
    position: absolute
    margin-left: 780px
    float: right 
 
    button 
        margin: 0


.controls span
    margin 5px

.cell
    padding: 0

.ace-container, .cell-output
    margin-left: 20px
    margin-right: 20px

.ace-container
    position: relative 
    height: 100px
    padding: 5px

.cell-output 
    .print
        font-family: "Courier New", "monospace"
    
    margin-top: 10px
    ul
        list-style-type: disc    
    &:focus
        // TODO: match color of line higlight
        background-color: rgb(232, 242, 254)

.type 
    // The mode is absolute position wrt to the cell's relative position */
    //    border: 1px solid red*/
    position: absolute
    -webkit-transform-origin: top left   
    -webkit-transform: rotate(90deg) 
    -moz-transform-origin: top left  
    -moz-transform: rotate(90deg)
    background-color: #8FA7B0
    color: white
    padding: 5px
    font-weight: bold
    font-family: sans-serif
    -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0 0 8px
    -moz-box-shadow: rgba(0, 0, 0, 0.496094) 0 0 8px
    z-index: -10
    border-radius: 5px
    margin-top: 15px



.spawn-above, #spawner
    font-family: "Courier New", "monospace"
    margin-top: 5px
    margin-bottom: 5px
    margin-left: 5%
    margin-right: 5%
    opacity:0.1
    border-radius: 5px
    -webkit-transition: opacity 0.25s linear
    width: 90%
    text-align: center
    border: 1px #AAA dashed
    color: #777
    &:hover
        opacity:1
    &:focus
        opacity:1
     
