!!!html
%html
  %head
    %title notebook.js demo
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
    %script{:src => "/lib/ext/underscore.js"}
    %script{:src => "/lib/ext/backbone.js"}
    %script{:src => "/lib/ext/backbone.localStorage.js"}
    %script{:src => "/src/notebook.js"}
    %script{:src => "/demo/demo.js"}

  %body
    %h1 notebook.js demo

    #notebook
      #title
      %ul{:id => "cells"}
      #spawner Spawn a new cell


    %script{:type => "text/template", "id"=>"cell-template"}
      #cell{:id => "[[= id ]]"}
        #controls
          #evaluate evaluate
          #delete delete
        %textarea{:class=>"cell-input", :rows => "5", :cols => 80}
          [[= input ]]
        #cell-output
          [[= output ]]


