!!!html
%html
  %head
    %title notebook.js demo
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
    %script{:src => "/lib/ext/underscore.js"}
    %script{:src => "/lib/ext/backbone.js"}
    %script{:src => "/lib/ext/backbone.localStorage.js"}
    %script{:src => "/demo/demo.js"}

  %body
    %h1 notebook.js demo

    #notebook
      #title
      #cells
